<div class="widgetBody system-check">
    {% if not numErrors and not numWarnings %}
        <p class="system-success"><span class="icon-ok"></span> {{ 'Installation_SystemCheckNoErrorsOrWarnings'|translate }}</p>
    {% endif %}

    {% if numErrors %}
        <ul>
            {% for thisResult in errors %}
                {% set checkItemMessages = '' %}
                {% if thisResult.getLongErrorMessage is empty and thisResult.getItems()|length > 1 %}
                    {% for checkItem in thisResult.getItems() %}
                        {% if checkItem.getStatus is same as('warning') %}
                            {% set checkItemMessages = checkItemMessages ~ checkItem.getComment() %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li title="{{ checkItemMessages|default(thisResult.getLongErrorMessage)|default(thisResult.getItems()[0].getComment())|preg_replace('/<br.*?>/', "\n")|striptags|e('html_attr') }}" class="system-check-widget-error"><span class="icon-error"></span> {{ thisResult.getLabel }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if numWarnings %}
        <ul>
            {% for thisResult in warnings %}
                {% set checkItemMessages = '' %}
                {% if thisResult.getLongErrorMessage is empty and thisResult.getItems()|length > 1 %}
                    {% for checkItem in thisResult.getItems() %}
                        {% if checkItem.getStatus is same as('warning') %}
                            {% set checkItemMessages = checkItemMessages ~ checkItem.getComment() %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li title="{{ checkItemMessages|default(thisResult.getLongErrorMessage)|default(thisResult.getItems()[0].getComment())|preg_replace('/<br.*?>/', "\n")|striptags|e('html_attr') }}" class="system-check-widget-warning"><span class="icon-warning"></span> {{ thisResult.getLabel }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if numErrors or numWarnings %}
        <p>
            <br />
            <a href="{{ linkTo({'module': 'Installation', 'action': 'systemCheckPage'}) }}"
               >{{ 'Installation_SystemCheckViewFullSystemCheck'|translate }}</a>
        </p>
    {% endif %}

    <script>
        jQuery(function() {
            $('.widgetBody.system-check').tooltip({
                track: true,
                content: function() {
                    var $this = $(this);
                    if ($this.attr('collect-field') === '') {
                        // do not show it for form fields
                        return '';
                    }

                    var title = $(this).attr('title');
                    return collectHelper.escape(title.replace(/\n/g, '<br />'));
                },
                show: {delay: 200, duration: 100},
                hide: false
            });
        });
    </script>
</div>