* {
    margin: 0;
    padding: 0;
}
#donate-form-container .collect-donate-call #collect-worth,
#donate-form-container .collect-donate-call li,
#donate-form-container .collect-donate-call ul {
    display: inline;font-size:14px;
}
.topBarElem {
    font-family: arial, sans-serif !important;
    font-size: 13px;
    line-height: 1.33;
}

.collect-donate-call {
    border: none;
    padding: 0;
    max-width: none;
}
.collect-donate-call > .collect-donate-message p {
    margin-left: 0;
}

li {
    margin-top: 10px;
    margin-left: 30px;
}

#oneclickupdate .btn {
    clear:none;
    float:left;
}
form#oneclickupdate {
    min-height: 50px;
}


body#simple .languageSelection {
    color: #4183C4;
    padding-top: 8px;
}

p strong {
    font-weight: 700 !important;
}
strong {
    font-weight: 700 !important;
}

#logo {
    display: block;
}

#logo img {
    height: 40px;
}