<div class="getNewPlugins">
    <div class="row">
        {% for plugin in plugins %}
            <div class="col s12">

                <h3 class="pluginName" collect-plugin-name="{{ plugin.name|e('html_attr') }}">{{ plugin.displayName }}</h3>
                <span>
                    {{ plugin.description }}
                    <br />
                    <a href="javascript:;" collect-plugin-name="{{ plugin.name|e('html_attr') }}">{{ 'General_MoreDetails'|translate }}</a>
                </span>

                {% if not loop.last %}<br /><br />{% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="widgetBody">
        <a href="{{ linkTo({'module': 'Marketplace', 'action': 'overview'}) }}"
            >{{ 'CorePluginsAdmin_ViewAllMarketplacePlugins'|translate }}</a>
    </div>
</div>