<div class="ui-confirm" id="installPluginByUpload" collect-plugin-upload>
    <h2>{{ 'Marketplace_TeaserExtendCollectByUpload'|translate }}</h2>

    {% if isPluginUploadEnabled %}
        <p class="description"> {{ 'Marketplace_AllowedUploadFormats'|translate }} </p>

        <form enctype="multipart/form-data" method="post" id="uploadPluginForm"
              action="{{ linkTo({'module':'CorePluginsAdmin', 'action':'uploadPlugin', 'nonce': installNonce}) }}">
            <input type="file" name="pluginZip" data-max-size="{{ uploadLimit }}">
            <br />
            <div collect-field uicontrol="password" name="confirmPassword" autocomplete="off"
                 data-title="{{ 'Login_ConfirmPasswordToContinue'|translate|e('html_attr') }}"
                 value="">
            </div>

            <input class="startUpload btn" type="submit" value="{{ 'Marketplace_UploadZipFile'|translate }}">
        </form>
    {% else %}
        <p class="description"> {{ 'Marketplace_PluginUploadDisabled'|translate|raw }} </p>
        <pre>[General]
enable_plugin_upload = 1</pre>
        <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
    {% endif %}
</div>