.emailReports {
  .entityTableContainer {
    margin-top: 0;
  }

  a.withIcon {
    display: inline-block;
    
    img {
      vertical-align: bottom;
    }
  }

  input[name=report_evolution_period_n] {
    display: inline;
    width: 60px;
    margin-bottom: 0;
    height: 1.3rem;
  }

  .evolution-graph-period {
    font-size: 1rem;

    > div {
      margin-top: 1rem;
    }

    label {
      color: @color-black-collect;
    }
  }
}
