<div class="ui-confirm" collect-dialog="site.removeDialog.show" yes="site.delete()">

    <h2>{{ site.removeDialog.title }}</h2>

    <p>{{ 'SitesManager_DeleteSiteExplanation'|translate }}</p>

    <input type="button" value="{{ 'General_Yes'|translate }}" role="yes"/>
    <input type="button" value="{{ 'General_No'|translate }}" role="no" />
</div>
