
.glossary .table-of-contents a {
  box-sizing: content-box;
  padding: 0 10px 5px;
  &:hover, &.active {
    text-decoration: none;
    padding: 0 10px 3px;
    border-left: none;
    border-bottom: 2px solid @color-blue-collect;
  }
}