h1,
 h2,
 h3,
 h4,
 h5,
 button,
 input,
 optgroup,
 select,
 textarea {
  font-family: @theme-fontFamily-base;
}

a {
  color: @theme-color-link;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  color: @theme-color-headline-alternative;
}

.datatableRelatedReports {
  color: @theme-color-text-lighter;
}

.tableIcon {
  &.activeIcon {
    background-color: @theme-color-background-tinyContrast;
  }
}

.dataTableFooterActiveItem {
  display: none;
}

#topApiRef {
  color: @theme-color-text;
}

.tableConfiguration div.configItem span.action {
  color: @theme-color-link;
}

.dataTablePages {
  color: @theme-color-text;
  font-weight: normal;
  .font-default(13px, 14px);
}

.datatableRelatedReports {
  color: #808080;

  span {
    color: @theme-color-text;
    font-weight: normal;
  }
}

.tagCloud span,
 .tagCloud span a {
  color: @theme-color-link !important;
}

ul.widgetpreview-widgetlist,
 ul.widgetpreview-categorylist {
  color: #4d4d4d;
}

.dataTableRowActions {
  background: none !important;
}

a {
  color: @theme-color-link;
}

.Collect_Popover_Loading_Subject {
  color: @theme-color-link !important;
}

body > a.ddmetric {
  background-color: @color-gray-light !important;
  border-color: @color-gray !important;
  color: #000 !important;
  font-family: @theme-fontFamily-base !important;
}
