
#root {
  #logo {
    padding-left: 16px;
    padding-top: 6px;

    img {
      max-height: 32px;

      &.default-collect-logo {
        width: 150px;
      }
    }
  }

  #logo > a {
    text-decoration: none;
  }
}

#javascriptDisabled,
#javascriptDisabled a {
  font-weight: bold;
  color: #f88d22;
  padding: 15px;
  clear: both;
}
