{% extends '@Login/loginLayout.twig' %}

{% set title %}{{ 'Login_ConfirmPasswordToContinue'|translate }}{% endset %}

{% block loginContent %}
    <div class="contentForm loginForm confirmPasswordForm">
        {% embed 'contentBlock.twig' with {'title': ('Login_ConfirmPasswordToContinue'|translate)} %}
        {% block content %}

            {{ postEvent("Template.confirmPasswordContent", "top") }}
            <div class="message_container">
                {% if AccessErrorString %}
                    <div collect-notification
                         noclear="true"
                         context="error">
                        <strong>{{ 'General_Error'|translate }}</strong>: {{ AccessErrorString|raw }}<br/>
                    </div>
                {% endif %}
            </div>

            <form action="{{ linkTo({'module': loginPlugin, 'action': 'confirmPassword'}) }}" ng-non-bindable method="post">
                <div class="row">
                    <div class="col s12 input-field">
                        <input type="hidden" name="nonce" id="login_form_nonce" value="{{ nonce }}"/>
                        <input type="password" placeholder="" name="password" id="login_form_password" class="input" value="" size="20"
                               autocorrect="off" autocapitalize="none"
                               tabindex="20" />
                        <label for="login_form_password"><i class="icon-locked icon"></i> {{ 'General_Password'|translate }}</label>
                    </div>
                </div>

                <div class="row actions">
                    <div class="col s12">
                        <input class="submit btn" id='login_form_submit' type="submit" value="{{ 'General_Confirm'|translate }}"
                               tabindex="100"/>
                    </div>
                </div>

            </form>
            {{ postEvent("Template.confirmPasswordContent", "bottom") }}

        {% endblock %}
        {% endembed %}
    </div>

{% endblock %}