<script type="text/javascript">
    var collect = {};
    collect.token_auth = "{{ token_auth }}";
    collect.collect_url = "{{ collectUrl }}";
    collect.cacheBuster = "{{ cacheBuster }}";
    {% if timezoneOffset is defined %}collect.timezoneOffset = {{ timezoneOffset }};{% endif %}

    collect.numbers = {
        patternNumber: "{{ 'Intl_NumberFormatNumber'|translate }}",
        patternPercent: "{{ 'Intl_NumberFormatPercent'|translate }}",
        patternCurrency: "{{ 'Intl_NumberFormatCurrency'|translate }}",
        symbolPlus: "{{ 'Intl_NumberSymbolPlus'|translate }}",
        symbolMinus: "{{ 'Intl_NumberSymbolMinus'|translate }}",
        symbolPercent: "{{ 'Intl_NumberSymbolPercent'|translate }}",
        symbolGroup: "{{ 'Intl_NumberSymbolGroup'|translate }}",
        symbolDecimal: "{{ 'Intl_NumberSymbolDecimal'|translate }}"
    };

    collect.relativePluginWebDirs = {{ relativePluginWebDirs|json_encode|raw }};

    {% if userLogin %}collect.userLogin = "{{ userLogin|e('js')}}";{% endif %}

    {% if idSite is defined %}collect.idSite = "{{ idSite }}";{% endif %}

    {% if siteName is defined %}
    // NOTE: siteName is currently considered deprecated, use collect.currentSiteName instead, which will not contain HTML entities
    collect.siteName = "{{ siteName|e('js') }}";
    {% if siteNameDecoded is defined %} // just to be safe
    collect.currentSiteName = {{ siteNameDecoded|json_encode|raw }};{% endif %}
    {% endif %}

    {% if siteMainUrl is defined %}collect.siteMainUrl = "{{ siteMainUrl|e('js') }}";{% endif %}

    {% if period is defined %}collect.period = "{{ period }}";{% endif %}

{# collect.currentDateString should not be used other than by the calendar Javascript
            (it is not set to the expected value when period=range)
        Use broadcast.getValueFromUrl('date') instead
#}
    collect.currentDateString = "{{ date|default(endDate|default('')) }}";
{% if startDate is defined %}
    collect.startDateString = "{{ startDate }}";
    collect.endDateString = "{{ endDate }}";
    collect.minDateYear = {{ minDateYear }};
    collect.minDateMonth = parseInt("{{ minDateMonth }}", 10);
    collect.minDateDay = parseInt("{{ minDateDay }}", 10);
    collect.maxDateYear = {{ maxDateYear }};
    collect.maxDateMonth = parseInt("{{ maxDateMonth }}", 10);
    collect.maxDateDay = parseInt("{{ maxDateDay }}", 10);
{% endif %}
    {% if language is defined %}collect.language = "{{ language }}";{% endif %}

    collect.hasSuperUserAccess = {{ hasSuperUserAccess|default(0)|e('js')}};
    collect.userCapabilities = {{ userCapabilities|default([])|json_encode|raw }};
    collect.config = {};
{% if clientSideConfig is defined %}
    collect.config = {{ clientSideConfig|json_encode|raw }};
{% endif %}
    Object.freeze(collect.config); // disallow accidental changes
    collect.shouldPropagateTokenAuth = {{ shouldPropagateTokenAuth|json_encode|raw }};
    {{ postEvent("Template.jsGlobalVariables") }}
</script>

