<!DOCTYPE html>
<html id="ng-app" {% if language is defined %}lang="{{ language }}"{% endif %} ng-app="collectApp">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>
                {%- block pageTitle %}
                    {%- if title is defined -%}{{ title }} - {% endif -%}
                    {%- if categoryTitle is defined -%}{{ categoryTitle }} - {% endif -%}
                    Matomo
                {%- endblock -%}
            </title>
            <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1"/>
            <meta name="viewport" content="initial-scale=1.0"/>
            <meta name="generator" content="Matomo - free/libre analytics platform"/>
            <meta name="description" content="{% block pageDescription %}{% endblock %}"/>
            <meta name="apple-itunes-app" content="app-id=737216887" />
            <meta name="google" content="notranslate">
            {% block meta %}
                <meta name="robots" content="noindex,nofollow">
            {% endblock %}

            {% include "@CoreHome/_favicon.twig" %}
            {% include "@CoreHome/_applePinnedTabIcon.twig" %}
            <meta name="theme-color" content="{{ themeStyles.colorHeaderBackground }}">
            {% include "_jsGlobalVariables.twig" %}
            {% include "_jsCssIncludes.twig" %}

            {%- if not isCustomLogo %}<link rel="manifest" href="plugins/CoreHome/javascripts/manifest.json" crossorigin="use-credentials">{% endif %}

        {% endblock %}
    </head>
    <body id="{{ bodyId|default('') }}" ng-app="app" class="{{ bodyClass|default('') }}">
        {{ postEvent('Template.bodyTop' ) }}

    {% block body %}
        {% include "_iframeBuster.twig" %}
        {% include "@CoreHome/_javaScriptDisabled.twig" %}

        <div id="root">
            {% block root %}
            {% endblock %}
        </div>

        <div collect-popover-handler></div>

        {% include "@CoreHome/_shortcuts.twig" %}

    {% endblock %}

        <div id="pageFooter">
            {{ postEvent('Template.pageFooter') }}
        </div>

        {% include "@CoreHome/_adblockDetect.twig" %}

        {{ postEvent('Template.bodyBottom' ) }}
    </body>
</html>
