{% include "@CoreHome/_htmlEmailHeader.twig" %}

    <h2 style='{{fontStyle}} color:#37474f; line-height:30px; margin:25px 0 15px 0;'>
        {{'ScheduledReports_EmailHello'|translate}}
    </h2>

    <p style='{{styleParagraph}}{{fontStyle}}'>
        {% if isAttachedFile is defined and isAttachedFile %}
        {{ 'ScheduledReports_PleaseFindAttachedFile'|translate(frequency, reportTitle) }}
        {% else %}
        {{'ScheduledReports_PleaseFindBelow'|translate(period,reportTitle)}}
        {% endif %}
        <br />{{ description }}
        <br />{{ 'General_DateRange'|translate }} {{ prettyDate }}
        <br />{{ 'ScheduledReports_SentFromX'|translate(collectUrl) }}
    </p>

    {% if displaySegment %}
        <p style="{{styleParagraph}}{{fontStyle}}">
            {{ 'ScheduledReports_CustomVisitorSegment'|translate }} {{ segmentName }}
        </p>
    {% endif %}

    {% if reportMetadata|length > 1 %}
        <h2 style="{{fontStyle}}font-weight:normal; font-size: {{ emailStyles.reportTitleTextSize }}pt;">
            {{ 'ScheduledReports_TableOfContent'|translate }}
        </h2>
        <ul>
            {% for metadata in reportMetadata %}
                <li style="{{ styleParagraphText }}">
                    <a href="#{{ metadata.uniqueId }}" style="text-decoration:none; color: {{ emailStyles.reportTextColor }};">
                        {{ metadata.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
