<div class="manageCustomDimensions">

    <div ng-show="!manageDimensions.editMode">
        <div collect-custom-dimensions-list></div>

        <div collect-content-block content-title="{{ 'CustomDimensions_IncreaseAvailableCustomDimensionsTitle'|translate }}" id="customDimensionsCreateMoreDimensions">

            <p>
                {{ 'CustomDimensions_IncreaseAvailableCustomDimensionsTakesLong'|translate }}
                <br><br>{{ 'CustomDimensions_HowToCreateCustomDimension'|translate }}
                <br><br>
            </p>
            <pre collect-select-on-focus><code>./console customdimensions:add-custom-dimension --scope=action
./console customdimensions:add-custom-dimension --scope=visit</code></pre>
            <p>
                {{ 'CustomDimensions_HowToManyCreateCustomDimensions'|translate }}

                {{ 'CustomDimensions_ExampleCreateCustomDimensions'|translate:5 }}
            </p>
            <pre collect-select-on-focus><code>./console customdimensions:add-custom-dimension --scope=action --count=5</code></pre>

        </div>

    </div>
    <div ng-show="manageDimensions.editMode">
        <div collect-custom-dimensions-edit
             dimension-id="manageDimensions.dimensionId"
             dimension-scope="manageDimensions.dimensionScope"></div>
    </div>
</div>
