{% extends '@CoreUpdater/layout.twig' %}

{% block content %}

    <div class="header">
        <h1>{{ 'CoreUpdater_UpdateSuccessTitle'|translate }}</h1>
    </div>

    <div class="content">
        <h2>
            {{ 'CoreUpdater_ThankYouUpdateCollect'|translate }}
        </h2>

        <p>
            {{ 'CoreUpdater_PostUpdateMessage'|translate }}

        </p>

        <h2>
            {{ 'CoreUpdater_PostUpdateSupport'|translate }}
        </h2>

        <div class="row">
            <div class="col s5 offset-s1">
                <a href="https://matomo.org/support-plans/?pk_medium=Update_Success_button&pk_source=Matomo_App&pk_campaign=App_Updated" class="btn btn-block">{{ 'CoreUpdater_ServicesSupport'|translate }}</a>
            </div>
            <div class="col s5">
                <a href="https://matomo.org/hosting/?pk_medium=App_Cloud_button&pk_source=Matomo_App&pk_campaign=App_Updated" class="btn btn-block">{{ 'CoreUpdater_CloudHosting'|translate }}</a>
            </div>
        </div>

        {% if feedbackMessages is defined and feedbackMessages is not empty %}
        <h2>{{ 'CoreUpdater_UpdateLog'|translate }}</h2>
        <div class="row">
            <div class="col s12">
                <pre style="margin-top: 0;"><code>
                    {%- for message in feedbackMessages %}
&#10003; {{ message }}
{% endfor -%}
                </code></pre>
            </div>
        </div>
        {% endif %}

    </div>

    <div class="footer">
        <a href="index.php">{{ 'General_ContinueToCollect'|translate }}</a>
    </div>

{% endblock %}
