<div class="campaignUrlBuilder">

    <form>
        <div collect-field uicontrol="text" name="websiteurl"
             data-title="{{'Actions_ColumnPageURL'|translate}} ({{ 'General_Required2'|translate }})"
             ng-model="campaignBuilder.websiteUrl"
             inline-help="{{'Referrers_CampaignPageUrlHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignname"
             data-title="{{ 'CoreAdminHome_JSTracking_CampaignNameParam'|translate }} ({{ 'General_Required2'|translate }})"
             ng-model="campaignBuilder.campaignName"
             inline-help="{{'Referrers_CampaignNameHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignkeyword"
             data-title="{{ 'CoreAdminHome_JSTracking_CampaignKwdParam'|translate }}"
             ng-model="campaignBuilder.campaignKeyword"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignKeywordHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignsource"
             data-title="{{ 'Referrers_CampaignSource'|translate }}"
             ng-model="campaignBuilder.campaignSource"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignSourceHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignmedium"
             data-title="{{ 'Referrers_CampaignMedium'|translate }}"
             ng-model="campaignBuilder.campaignMedium"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignMediumHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaigncontent"
             data-title="{{ 'Referrers_CampaignContent'|translate }}"
             ng-model="campaignBuilder.campaignContent"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignContentHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignid"
             data-title="{{ 'Referrers_CampaignId'|translate }}"
             ng-model="campaignBuilder.campaignId"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignIdHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaigngroup"
             data-title="{{ 'Referrers_CampaignGroup'|translate }}"
             ng-model="campaignBuilder.campaignGroup"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignGroupHelp'|translate}}">
        </div>

        <div collect-field uicontrol="text" name="campaignplacement"
             data-title="{{ 'Referrers_CampaignPlacement'|translate }}"
             ng-model="campaignBuilder.campaignPlacement"
             ng-show="campaignBuilder.hasExtraPlugin"
             inline-help="{{'Goals_Optional'|translate}} {{'Referrers_CampaignPlacementHelp'|translate}}">
        </div>

        <div collect-save-button
             class="generateCampaignUrl"
             onconfirm="campaignBuilder.generateUrl()"
             data-disabled="!campaignBuilder.websiteUrl || !campaignBuilder.campaignName"
             value="{{ 'Referrers_GenerateUrl'|translate }}">
        </div>
        <div collect-save-button
             class="resetCampaignUrl"
             onconfirm="campaignBuilder.reset()"
             value="{{ 'General_Clear'|translate }}">
        </div>

        <div ng-show="campaignBuilder.generatedUrl">
            <h3>{{'Referrers_URLCampaignBuilderResult'|translate}}</h3>
            <pre collect-select-on-focus id="urlCampaignBuilderResult"><code ng-bind="campaignBuilder.generatedUrl"></code></pre>
        </div>
    </form>
</div>