#collect-promo-thumbnail {
    width: 100%;
    min-height: 178px;
    margin: 0 auto 0 auto;
}

#collect-promo-thumbnail:hover {
    opacity: .75;
    cursor: pointer;
}

#collect-promo-thumbnail>img {
    width: 100%;
}

#collect-widget-footer {
    margin: 0 1em 1em 1em;
}

#collect-promo-share {
    margin: 0 2em 1em 0;
    background-color: #CCC;
    border: 1px solid #CCC;
    border-radius: 6px;
    display: inline-block;
    padding: 0 .5em 0 .5em;
    float: right;
}

#collect-promo-share > a {
    margin-left: .5em;
    margin-top: 4px;
    display: inline-block;
}

#collect-promo-share>span {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

#collect-promo-videos-link {
    font-size: .8em;
    font-style: italic;
    margin: 1em 0 0 1.25em;
    color: @theme-color-text-lighter;
    display: inline-block;
    width: 90%;
}

#collect-promo-videos-link:hover {
    text-decoration: none;
}
