{% extends 'dashboard.twig' %}

{% set test_collectUrl='http://demo.matomo.org/' %}
{% set isCollectDemo %}{{ collectUrl == 'http://demo.matomo.org/' or collectUrl == 'https://demo.matomo.org/'}}{% endset %}

{% set headline %}{{ 'General_AboutCollectX'|translate(collectVersion) }}{% endset %}

{% block content %}

    <div id="feedback-faq" class="admin">
        <div collect-content-block content-title="{{ "Feedback_HowCanWeHelp"|translate|e('html_attr') }}" class="feedback-help-resources">
            <form target="_blank" method="GET" action="https://matomo.org/">
                <div class="search-matomo-form z-depth-1">
                    <div class="search-field">
                        <span class="icon-search"></span>
                        <input type="text" placeholder="{{'Feedback_SearchHelpResources'|translate|e('html_attr')}}" name="s"/>
                    </div>
                    <div class="search-button">
                        <input type="submit" value="Search" class="btn hide-on-small-only"/>
                    </div>
                </div>
            </form>

            <h4>{{'Feedback_PopularHelpTopics'|translate}}</h4>
            {% for helpTopic in popularHelpTopics %}
                <p> &bull;  <a rel="noreferrer noopener" target="_blank" href="{{helpTopic.url|e('html_attr')}}">{{helpTopic.title|translate}}</a></p>
            {% endfor %}

            <h4>{{ 'Feedback_CommunityHelp'|translate }}</h4>
            <p> &bull; <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/docs/">{{ 'Feedback_UserGuides'|translate }}</a> - {{ 'Feedback_ViewUserGuides'|translate("","") }}.</p>
            <p> &bull; <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/">{{ 'Feedback_FAQs'|translate }}</a> - {{ 'Feedback_ViewAnswersToFAQ'|translate("","") }}.</p>
            <p> &bull; <a target="_blank" rel="noreferrer noopener" href="https://forum.matomo.org/">{{ 'Feedback_Forums'|translate }}</a> - {{ 'Feedback_VisitTheForums'|translate("","") }}.</p>
            <p> &bull; <a target="_blank" rel="noreferrer noopener" href="{{ linkTo({'module':"API",'action':"glossary"}) }}">{{ 'API_Glossary'|translate }}</a> - {{ 'API_LearnAboutCommonlyUsedTerms2'|translate }}</p>

            <h4>{{ 'Feedback_ProfessionalHelp'|translate }}</h4>
            <p>{{ 'Feedback_ProfessionalServicesIntro'|translate }}</p>

            <p>{{ 'Feedback_ProfessionalServicesOfferIntro'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesDedicatedSupport'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesOnboarding'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesTraining'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesSupport'|translate }}</p>
            <p> &bull; {{ 'Feedback_ProfessionalServicesEmailAlerts'|translate }}</p>

            <form target="_blank" action="https://matomo.org/support-plans/">
                <input type="hidden" name="pk_campaign" value="App_Help">
                <input type="hidden" name="pk_source" value="Matomo_App">
                <input type="hidden" name="pk_medium" value="App_ContactUs_button">
                <br />
                <input type="submit" class="btn" value="{{ 'General_MoreDetails'|translate }}">
            </form>
        </div>

        <div collect-content-block
             content-title="{{ headline|e('html_attr') }}"
             feature="{{ 'General_Help'|translate|e('html_attr') }}">
            <p>{{ 'General_MatomoIsACollaborativeProjectYouCanContributeAndDonateNextRelease'|translate(
                    "<a target='_blank' rel='noreferrer noopener' href='https://matomo.org'>",
                    "</a>",
                    "<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/get-involved/'>",
                    "</a>",
                    "<a href='" ~ linkTo({'module':'CoreAdminHome', 'action': 'home'})~"'>",
                    "</a>",
                    "<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/team/'>",
                    "</a>"
                )|raw }}
            </p>
        </div>

        <div collect-content-block content-title="Premium products">
            <p>Grow your business, understand your audience better and increase your sales and conversions with a premium plugin:
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/users-flow/'>Users Flow</a>: a visual representation of the most popular paths your users take through your website or app.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/ab-testing-learn-more/'>A/B Testing</a>: compare different versions of your websites or apps and detect the winning variation.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/conversion-funnels'>Funnels</a>: identify and understand where your visitors drop off in your conversion funnels.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/form-analytics/'>Form Analytics</a>: increase conversions and get better leads from your website forms.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/media-analytics-website/'>Video and Audio Analytics</a>: powerful insights into how your audience watches your videos and listens to your audio.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/roll-up-reporting/'>Roll-Up Reporting</a>: aggregate data from multiple websites, apps and shops into a Roll-Up site to gain new insights.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/search-keywords-performance/'>Search Keywords Performance</a>: all keywords searched by your users on Google+Bing+Yahoo into your Matomo reports.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/activity-log/'>Audit log</a>: better security and problem diagnostic with a detailed audit log of Matomo user activities.</p>
            <p> &bull;  <a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/white-label/'>White Label</a>: give your clients access to their analytics reports where all Matomo-branded widgets are removed.</p>
            <p> &bull;  <strong><a rel='noreferrer noopener' target='_blank' href='https://matomo.org/recommends/premium-plugins'>All premium plugins.</a></strong></p>
        </div>

        <div collect-content-block content-title="{{ 'Feedback_DoYouHaveBugReportOrFeatureRequest'|translate|e('html_attr') }}">
            <p>{{ 'Feedback_HowToCreateTicket'|translate(
            "<a target='_blank' rel='noreferrer noopener' href='https://developer.matomo.org/guides/core-team-workflow#submitting-a-bug-report'>",
            "</a>",
            "<a target='_blank' rel='noreferrer noopener' href='https://developer.matomo.org/guides/core-team-workflow#submitting-a-feature-request'>",
            "</a>",
            "<a target='_blank' rel='noreferrer noopener' href='https://github.com/matomo-org/matomo/issues'>",
            "</a>",
            "<a target='_blank' rel='noreferrer noopener' href='https://github.com/matomo-org/matomo/issues/new'>",
            "</a>"
            )|raw }}</p>
        </div>

        <div class="footer">
            <ul class="social">
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/newsletter/"><img class="icon" src="plugins/Feedback/images/newsletter.svg"></a>
                    <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/newsletter/">Newsletter</a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/Matomo.org"><img class="icon" src="plugins/Morpheus/icons/dist/socials/facebook.com.png"></a>
                    <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/Matomo.org">Facebook</a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/matomo_org"><img class="icon" src="plugins/Morpheus/icons/dist/socials/twitter.com.png"></a>
                    <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/matomo_org">Twitter</a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/groups/867857/"><img class="icon" src="plugins/Morpheus/icons/dist/socials/linkedin.com.png"></a>
                    <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/groups/867857/">Linkedin</a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer noopener" href="https://github.com/matomo-org/matomo"><img class="icon" src="plugins/Morpheus/icons/dist/socials/github.com.png"></a>
                    <a target="_blank" rel="noreferrer noopener" href="https://github.com/matomo-org/matomo">GitHub</a>
                </li>
            </ul>
            <ul class="menu">
                <li><a target="_blank" rel="noreferrer noopener" href="https://matomo.org/blog/">Blog</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="https://matomo.org/get-involved/">Get involved</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="https://developer.matomo.org">Developers</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="https://plugins.matomo.org">Marketplace</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="https://matomo.org/thank-you-all/">Credits</a></li>
            </ul>
            <p class="claim"><small>{{ 'Feedback_PrivacyClaim'|translate(
                    "<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/privacy/'>",
                    "</a>"
                )|raw}}</small></p>
        </div>
    </div>
{% endblock %}
