{% extends 'admin.twig' %}

{% block topcontrols %}
    <div class="top_bar_sites_selector collectTopControl">
        <div collect-siteselector show-selected-site="true" class="sites_autocomplete"></div>
    </div>
{% endblock %}

{% block content %}
    <div collect-custom-dimensions-manage>
{% endblock %}