.system-check td:first-child {
    width: 40%;
}

.system-check {
    td.error {
        color: red;
        font-size: 100%;
        font-weight: bold;
        border: 2px solid red!important;
        width: 550px;
        padding: 20px;
        margin-bottom: 10px;
        img {
            border: 0;
            float: right;
            margin: 10px;
        }
    }
}

.system-check .icon-ok {
    color: @color-green-collect;
    margin-right: 10px;
}
.system-check .icon-warning {
    color: #DF9D27;
    margin-right: 10px;
}
.system-check .icon-error {
    color: #D73F36;
    margin-right: 10px;
}
.system-check .icon-info2 {
    color: #00bcd4;
    margin-right: 10px;
}

.widgetBody.system-check {
    .icon-ok,
    .icon-warning,
    .icon-error {
        margin-right: 0;
    }

    ul {
        li {
            > span {
                padding-right: 4px;
            }

            font-weight: bold;

            &.system-check-widget-warning {
                color: #DF9D27;
            }

            &.system-check-widget-error {
                color: #D73F36;
            }
        }
    }
}

.system-success {
    color: @color-green-collect !important;
    font-weight: bold;
}

.system-errors {
    font-weight: bold;
    color: #D73F36 !important;
}

.system-warnings {
    font-weight: bold;
    color: #DF9D27 !important;
}
