.report-export-popover {

  [name=format] {
    .form-group label.fieldRadioTitle {
      display: block;
    }

    p.radio {
      width: 50%;
      float: left;
      display: block;
    }
  }

  textarea {
    word-break: break-all;
    padding: 5px;
    height: 80px;
  }

  .toggle-export-url {
    font-size: 14px;
    margin-left: 24px;
  }

  .filter_limit {
    clear: both;
    float: none;

    > div {
      width: 50%;
      float: left;
    }
  }

  .showoptions > span {
    color: @color-blue-collect;
    cursor: pointer;
    text-decoration: underline;
  }

  .tooltip {
    color: @color-silver;
    font-size: 13px;
    padding: 5px;
  }

  .tooltip > a {
    color: @color-blue-collect;
    text-decoration: underline;
  }
}