{% set closingHeadTag %}<code>{{ '</head>'|e('html') }}</code>{% endset %}
<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'CoreAdminHome_JsTrackingCodeMissingEmail1'|translate(siteName) }}</p>
<p>{{ 'CoreAdminHome_JsTrackingCodeMissingEmail2'|translate(closingHeadTag)|raw }}</p>
<p>{{ 'CoreAdminHome_JsTrackingCodeMissingEmail3'|translate('<a href="'~trackingCodeUrl~'">', '</a>', '<a href="https://developer.matomo.org/guides/tracking-javascript-guide">', '</a>')|raw }}</p>
<p>{{ 'SitesManager_InstallationGuides'|translate }} :
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-install-the-matomo-tracking-code-on-wordpress/"  target="_blank" rel="noopener">WordPress</a> |
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-integrate-matomo-with-squarespace-website/" taret="_blank" rel="noopener">Squarespace</a> |
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-install-the-matomo-analytics-tracking-code-on-wix/" target="_blank" rel="noopener">Wix</a> |
    <a href="https://matomo.org/faq/how-to-install/faq_19424/" target="_blank" rel="noopener">SharePoint</a>
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-install-the-matomo-analytics-tracking-code-on-joomla/" target="_blank" rel="noopener">Joomla</a> |
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-install-the-matomo-tracking-code-on-my-shopify-store/" target="_blank" rel="noopener">Shopify</a> |
    <a href="https://matomo.org/faq/new-to-collect/how-do-i-use-matomo-analytics-within-gtm-google-tag-manager/" target="_blank" rel="noopener">Google Tag Manager</a>
</p>