<div class="collect-donate-call">
    <div class="collect-donate-message">
        {% if msg is defined %}
            {{ msg }}
        {% else %}
            <p>{{ 'CoreHome_DonateCall1'|translate }}</p>
            <p><strong>{{ 'CoreHome_DonateCall2'|translate }}</strong></p>
            <p>{{ 'CoreHome_DonateCall3'|translate('<strong>','</strong>', '<a target="_blank" rel="nofollow" href="https://matomo.org/recommends/premium-plugins/"><strong>', '</strong></a>')|raw }}</p>
        {% endif %}
    </div>

    <span id="collect-worth">{{ 'CoreHome_SupportUsOn'|translate }}</span>

    <ul class="browser-default">
        <li><a href="https://www.patreon.com/matomo" target="_blank" rel="noreferrer noopener">Patreon</a></li>
        <li><a href="https://ko-fi.com/matomo" target="_blank" rel="noreferrer noopener">Ko-fi</a></li>
        <li><a href="https://liberapay.com/Matomo" target="_blank" rel="noreferrer noopener">Liberapay</a></li>
        <li><a href="https://opencollective.com/matomo-analytics" target="_blank" rel="noreferrer noopener">Open Collective</a></li>
        <li><a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=RPL23NJURMTFA" target="_blank" rel="noreferrer noopener">PayPal</a></li>
    </ul>

    <p style="margin-top: 1em;">
        {{ 'CoreHome_YourDonationWillHelp'|translate }}
        <br><br>
        <strong>{{ 'CoreHome_ThanksFromAllOfUs'|translate }}</strong>
    </p>

    {% if footerMessage is defined %}
        <div class="form-description">
            {{ footerMessage }}
        </div>
    {% endif %}
</div>
<script type="text/javascript">
$(document).ready(function () {
    // Note: this will cause problems if more than one donate form is on the page
    $('.collect-donate-slider').each(function () {
        $(this).trigger('collect:changePosition', {position: 1});
    });
});
</script>
