{# testing, remove test_ from var names #}
{% set test_latest_version_available="4.0.0" %}
{% set test_collectUrl='https://demo.matomo.org/' %}
{% set isCollectDemo %}{{ collectUrl == 'http://demo.matomo.org/' or collectUrl == 'https://demo.matomo.org/' or collectUrl == 'https://demo.matomo.cloud/' or collectUrl == 'http://demo.matomo.cloud/' }}{% endset %}

{% set updateCheck %}
    <span id="updateCheckLinkContainer">
        <span class="icon icon-fixed icon-reload"></span>
                {{ 'CoreHome_CheckForUpdates'|translate }}
    </span>
{% endset %}

{% if (latest_version_available and not isCollectDemo and hasSomeViewAccess and not isUserIsAnonymous and showUpdateNotificationToUser) or (isSuperUser and isAdminArea is defined and isAdminArea) %}
<div collect-expand-on-hover
     id="header_message"
     class="collectSelector borderedControl {% if not latest_version_available %}header_info{% else %}{% endif %} collectTopControl {% if latest_version_available %}update_available{% endif %}"
        >

        {% if latest_version_available and not isCollectDemo %}
            {% if isMultiServerEnvironment %}
                <span class="title" style="cursor:pointer;">
                    {{ 'General_NewUpdateCollectX'|translate(latest_version_available) }}
                    <span class="icon-warning"></span>
                </span>
            {% else %}
                <a class="title" href="?module=CoreUpdater&action=newVersionAvailable" style="cursor:pointer;">
                    {{ 'General_NewUpdateCollectX'|translate(latest_version_available) }}
                    <span class="icon-warning"></span>
                </a>
            {% endif %}
        {% elseif isSuperUser and isAdminArea is defined and isAdminArea %}
            {% if isInternetEnabled %}
            <a class="title">{{ updateCheck|raw }}</a>
            {% else %}
            <a class="title" href="https://matomo.org/changelog/" target="_blank" rel="noreferrer noopener">
                <span id="updateCheckLinkContainer">
                    {{ 'CoreHome_SeeAvailableVersions'|translate }}
                </span>
            </a>
            {% endif %}
        {% endif %}

    <div class="dropdown positionInViewport">
        {% if latest_version_available and isSuperUser %}
            {% if isMultiServerEnvironment %}
                {{ 'CoreHome_OneClickUpdateNotPossibleAsMultiServerEnvironment'|translate("<a rel='noreferrer noopener' href='https://builds.matomo.org/collect-" ~ latest_version_available ~ ".zip'>builds.matomo.org</a>")|raw }}
            {% else %}
                {{ 'General_CollectXIsAvailablePleaseUpdateNow'|translate(latest_version_available,"<br /><a href='index.php?module=CoreUpdater&amp;action=newVersionAvailable'>","</a>","<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/changelog/'>","</a>")|raw }}
            {% endif %}
            <br />
        {% elseif latest_version_available and not isCollectDemo and hasSomeViewAccess and not isUserIsAnonymous %}
            {% set updateSubject = 'General_NewUpdateCollectX'|translate(latest_version_available)|e('url') %}
            {{ 'General_CollectXIsAvailablePleaseNotifyCollectAdmin'|translate("<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/'>Matomo</a> <a target='_blank' rel='noreferrer noopener' href='https://matomo.org/changelog/'>" ~ latest_version_available ~ "</a>", "<a href='mailto:" ~ contactEmail|e('url') ~ "?subject=" ~ updateSubject ~ "'>", "</a>")|raw }}
            <br />
        {% endif %}

        {{ 'General_YouAreCurrentlyUsing'|translate(collect_version) }}
    </div>
</div>

<span class="icon icon-arrowup"></span>
<div style="clear:right"></div>
{% else %}
<span class="icon icon-arrowup"></span>
{% endif %}
