{% extends 'dashboard.twig' %}

{% block content %}
<h1>{{ 'Overlay_Overlay'|translate }}</h1>

<div id="overlayNoFrame">

    <script type="text/javascript">
        var newLocation = 'index.php?module=Overlay&action=startOverlaySession&idSite={{ idSite }}&period={{ period }}&date={{ date }}&segment={{ segment }}';
        if (collect.shouldPropagateTokenAuth) {
            if (!collect.broadcast.isWidgetizeRequestWithoutSession()) {
                newLocation += '&force_api_session=1';
            }
            newLocation += '&token_auth=' + collect.token_auth;
        }

        var locationParts = window.location.href.split('#');
        if (locationParts.length > 1) {
            var url = broadcast.getParamValue('l', locationParts[1]);
            url = Overlay_Helper.decodeFrameUrl(url);
            newLocation += '#' + url;
        }
        window.location.href = newLocation;
    </script>

</div>
{% endblock %}