<html>
<head>
    <title></title>
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
<script type="text/javascript">
    // go up two iframes to find the collect window
    var collectWindow = window.parent.parent;
    // notify collect of location change
    // the location has been passed as the hash part of the url from the overlay session
    collectWindow.Collect_Overlay.setCurrentUrl(window.location.hash.substring(1));
</script>
</body>
</html>