{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_MenuAnonymousUserSettings'|translate|raw }}{% endset %}

{% block content %}
{% if isSuperUser %}
<div collect-content-block content-title="{{ title|e('html_attr') }}">
    {% if anonymousSites|length == 0 %}

        <div class="alert alert-info">
            {{ 'UsersManager_NoteNoAnonymousUserAccessSettingsWontBeUsed2'|translate }}
        </div>

    {% else %}

        <div collect-form ng-controller="AnonymousSettingsController as anonymousSettings">

            <div collect-field uicontrol="radio" name="anonymousDefaultReport"
                 ng-model="anonymousSettings.defaultReport"
                 introduction="{{ 'UsersManager_WhenUsersAreNotLoggedInAndVisitCollectTheyShouldAccess'|translate|e('html_attr') }}"
                 value="{{ anonymousDefaultReport }}"
                 options="{{ defaultReportOptions|json_encode }}">
            </div>

            <div collect-field uicontrol="select" name="anonymousDefaultReportWebsite"
                 ng-model="anonymousSettings.defaultReportWebsite"
                 options="{{ anonymousSites|json_encode }}"
                 value="{{ anonymousDefaultSite }}">
            </div>

            <div collect-field uicontrol="radio" name="anonymousDefaultDate"
                 ng-model="anonymousSettings.defaultDate"
                 introduction="{{ 'UsersManager_ForAnonymousUsersReportDateToLoadByDefault'|translate|e('html_attr') }}"
                 value="{{ anonymousDefaultDate }}"
                 options="{{ availableDefaultDates|json_encode }}">
            </div>

            <div collect-save-button saving="anonymousSettings.loading" onconfirm="anonymousSettings.save()"></div>

        </div>

    {% endif %}
</div>
{% endif %}
{% endblock %}