{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_ManageAccess'|translate }}{% endset %}

{% block content %}

<collect-users-manager
    initial-site-id="{{ idSiteSelected }}"
    initial-site-name="{{ defaultReportSiteName|rawSafeDecoded }}"
    current-user-role="'{{ currentUserRole }}'"
    access-levels="{{ accessLevels|json_encode|e('html_attr') }}"
    filter-access-levels="{{ filterAccessLevels|json_encode|e('html_attr') }}"
>
</collect-users-manager>

{% endblock %}
