{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_PersonalSettings'|translate }}{% endset %}

{% block content %}

<div collect-content-block content-title="{{ title|e('html_attr') }}" feature="true">
    <form id="userSettingsTable" collect-form ng-controller="PersonalSettingsController as personalSettings">

        <div collect-field uicontrol="text" name="username"
             data-title="{{ 'General_Username'|translate|e('html_attr') }}"
             value="{{ userLogin }}" data-disabled="true"
             ng-model="personalSettings.username"
             inline-help="{{ 'UsersManager_YourUsernameCannotBeChanged'|translate|e('html_attr') }}">
        </div>

        {% if isUsersAdminEnabled %}
        <div collect-field uicontrol="text" name="email"
             ng-model="personalSettings.email"
             ng-change="personalSettings.requirePasswordConfirmation()"
             maxlength="100"
             data-title="{{ 'UsersManager_Email'|translate|e('html_attr') }}"
             value="{{ userEmail }}">
        </div>
        {% endif %}

        <div id="languageHelp" class="inline-help-node">
            <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/translations/">
                {{ 'LanguagesManager_AboutCollectTranslations'|translate }}</a>
        </div>

        <div collect-field uicontrol="select" name="language"
             ng-model="personalSettings.language"
             data-title="{{ 'General_Language'|translate|e('html_attr') }}"
             options="{{ languageOptions|json_encode }}"
             inline-help="#languageHelp"
             value="{{ currentLanguageCode }}">
        </div>

        <div collect-field uicontrol="select" name="timeformat"
             ng-model="personalSettings.timeformat"
             data-title="{{ 'General_TimeFormat'|translate|e('html_attr') }}"
             value="{{ currentTimeformat }}" options="{{ timeFormats|json_encode }}">
        </div>

        <div collect-field uicontrol="radio" name="defaultReport"
             ng-model="personalSettings.defaultReport"
             introduction="{{ 'UsersManager_ReportToLoadByDefault'|translate|e('html_attr') }}"
             data-title="{{ 'General_AllWebsitesDashboard'|translate|e('html_attr') }}"
             value="{{ defaultReport }}" options="{{ defaultReportOptions|json_encode }}">
        </div>

        <div collect-siteselector
             ng-model="personalSettings.site"
             show-selected-site="true"
             class="sites_autocomplete"
             siteid="{{ defaultReportIdSite }}"
             sitename="{{ defaultReportSiteName|rawSafeDecoded }}"
             switch-site-on-select="false"
             show-all-sites-item="false"
             showselectedsite="true"
             id="defaultReportSiteSelector"
        ></div>

        <div collect-field uicontrol="radio" name="defaultDate"
             ng-model="personalSettings.defaultDate"
             introduction="{{ 'UsersManager_ReportDateToLoadByDefault'|translate|e('html_attr') }}"
             value="{{ defaultDate }}" options="{{ availableDefaultDates|json_encode }}">
        </div>

        <div collect-save-button onconfirm="personalSettings.save()"
             saving="personalSettings.loading"></div>

        <div class="modal" id="confirmChangesWithPassword">
            <div class="modal-content">
                <h2>{{ 'UsersManager_ConfirmWithPassword'|translate }}</h2>

                <div collect-field uicontrol="password" name="currentPassword" autocomplete="off"
                     ng-model="personalSettings.passwordCurrent"
                     full-width="true"
                     data-title="{{ 'UsersManager_YourCurrentPassword'|translate|e('html_attr') }}"
                     value="">
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="modal-action btn" ng-click="personalSettings.save()">{{ 'General_Ok'|translate }}</a>
                <a href="javascript:void(0)" class="modal-action modal-close modal-no"  ng-click="personalSettings.cancelSave()">{{ 'General_Cancel'|translate }}</a>
            </div>
        </div>

    </form>
</div>

{% if showNewsletterSignup %}
    <div ng-controller="PersonalSettingsController as personalSettings">
        <div collect-content-block id="newsletterSignup"
             ng-show="personalSettings.showNewsletterSignup"
             content-title="{{ 'UsersManager_NewsletterSignupTitle'|translate|e('html_attr') }}">

            <div collect-field uicontrol="checkbox" name="newsletterSignupCheckbox" id="newsletterSignupCheckbox"
                 ng-model="personalSettings.newsletterSignupCheckbox"
                 full-width="true"
                 data-title="{{ 'UsersManager_NewsletterSignupMessage'|translate('<a href="https://matomo.org/privacy-policy/" target="_blank">', '</a>')|e('html_attr') }}"
            >
            </div>

            <div collect-save-button id="newsletterSignupBtn"
                 onconfirm="personalSettings.signupForNewsletter()"
                 data-disabled="!personalSettings.newsletterSignupCheckbox"
                 value="{{ '{{ personalSettings.newsletterSignupButtonTitle }}'|raw }}"
                 saving="personalSettings.isProcessingNewsletterSignup">
            </div>
        </div>
    </div>
{% endif %}

<div collect-plugin-settings mode="user"></div>

<div collect-content-block
     content-title="{{ 'UsersManager_ExcludeVisitsViaCookie'|translate|e('html_attr') }}">
    <p>
        {% if ignoreCookieSet %}
            {{ 'UsersManager_YourVisitsAreIgnoredOnDomain'|translate("<strong>", collectHost, "</strong>")|raw }}
        {% else %}
            {{ 'UsersManager_YourVisitsAreNotIgnored'|translate("<strong>","</strong>")|raw }}
        {% endif %}
    </p>
    <span style="margin-left:20px;">
    <a href='{{ linkTo({'ignoreSalt':ignoreSalt, 'module': 'UsersManager', 'action':'setIgnoreCookie'}) }}#excludeCookie'>&rsaquo; {% if ignoreCookieSet %}{{ 'UsersManager_ClickHereToDeleteTheCookie'|translate }}
        {% else %}{{'UsersManager_ClickHereToSetTheCookieOnDomain'|translate(collectHost) }}{% endif %}
        <br/>
    </a></span>
</div>

{% endblock %}
