<div ng-show="locationUpdater.geoipDatabaseInstalled" id="geoipdb-update-info">
    <p>
		{{ 'GeoIp2_GeoIPUpdaterInstructions'|translate('<a href="http://www.maxmind.com/?rId=collect" rel="noreferrer noopener">','</a>','<a rel="noreferrer noopener" href="https://db-ip.com/?refid=mtm">','</a>')|raw }}
        <br/><br/>
		{% if dbipLiteUrl|default is not empty %}{{ 'GeoIp2_GeoLiteCityLink'|translate('<a rel="noreferrer noopener" href="'~dbipLiteUrl|e('html_attr')~'">',dbipLiteUrl|e('html'),'</a>')|raw }}<br/><br/>{% endif %}
		{{ 'UserCountry_MaxMindLinkExplanation'|translate('<a href="https://matomo.org/faq/how-to/how-do-i-get-the-geolocation-download-url-for-the-free-maxmind-db/" rel="noreferrer noopener" target="_blank">', '</a>')|raw }}

		<span ng-show="locationUpdater.geoipDatabaseInstalled">
			<br/><br/>{{ 'GeoIp2_GeoIPUpdaterIntro'|translate }}:
		</span>
	</p>

	<div collect-field uicontrol="text" name="geoip-location-db"
		 ng-model="locationUpdater.locationDbUrl"
		 introduction="{{ 'GeoIp2_LocationDatabase'|translate|e('html_attr') }}"
		 data-title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPLocUrl }}"
		 inline-help="{{ 'GeoIp2_LocationDatabaseHint'|translate|e('html_attr') }}">
	</div>

	<div collect-field uicontrol="text" name="geoip-isp-db"
		 ng-model="locationUpdater.ispDbUrl"
		 introduction="{{ 'GeoIp2_ISPDatabase'|translate|e('html_attr') }}"
		 data-title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 disabled="{{ not isProviderPluginActive }}"
		 {% if not isProviderPluginActive %}
		 inline-help="<div class='alert alert-warning'>{{ 'GeoIp2_ISPRequiresProviderPlugin'|translate|e('html_attr') }}</div>"
		 {% endif %}
		 value="{{ geoIPIspUrl }}">
	</div>

	<div id="locationProviderUpdatePeriodInlineHelp" class="inline-help-node">
		{% if lastTimeUpdaterRun is defined and lastTimeUpdaterRun is not empty %}
			{{ 'GeoIp2_UpdaterWasLastRun'|translate(lastTimeUpdaterRun)|raw }}
		{% else %}
			{{ 'GeoIp2_UpdaterHasNotBeenRun'|translate }}
		{% endif %}
		<br/><br/>
		<div id="geoip-updater-next-run-time">
			{% include "@GeoIp2/_updaterNextRunTime.twig" %}
		</div>
	</div>

	<div collect-field uicontrol="radio" name="geoip-update-period"
		 ng-model="locationUpdater.updatePeriod"
		 introduction="{{ 'GeoIp2_DownloadNewDatabasesEvery'|translate|e('html_attr') }}"
		 value="{{ geoIPUpdatePeriod|default('month') }}"
		 options="{{ updatePeriodOptions|json_encode }}"
		 inline-help="#locationProviderUpdatePeriodInlineHelp">
	</div>

	<input type="button"
		   class="btn"
		   ng-click="locationUpdater.saveGeoIpLinks()"
		   ng-value="locationUpdater.buttonUpdateSaveText"/>

	<div>
		<div id="done-updating-updater"></div>
		<div id="geoipdb-update-info-error"></div>
		<div collect-progressbar
			 progress="locationUpdater.progressUpdateDownload"
			 label="locationUpdater.progressUpdateLabel"
			 ng-show="locationUpdater.isUpdatingGeoIpDatabase"></div>
	</div>
</div>
