/* LOGO
***********************/
#loginPage {

    #logo {
        padding-top: 6px;

        img.default-collect-logo {
            width: 171px;
        }

        img {
            max-height: 32px;
        }
    }

    .message_container {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    /* LAYOUT
    ***********************/
    #loginPage a {
        text-decoration: none;
    }

    .loadingCollect {
        float: left;
        margin-left: 16px;
    }

    /* FORM
    ***********************/

    .loginSection {
        margin-top: 32px;

        .icon.prefix {
            font-size: 1.5rem;
            width: 2.5rem;
            padding-top: 0.9rem;
        }

        .input-field {
            .prefix ~ input {
                margin-left: 2.5rem;
                width: 80% !important;
                overflow: hidden;
            }
        }
    }

    .loginSection .btn {
        margin-top: 0;
    }

    .loginSection fieldset {
        border: 0;
    }

    .loginSection .actions {
        line-height: 35px;
    }

    #login_form {
        margin-top: 16px;
    }

    #login_form_rememberme {
        vertical-align: middle;
    }

    /* FIELDS
    ***********************/

    /* MESSAGE
    ***********************/
    .message {
        margin: 0 auto;
        border: 1px solid #e6db55;
        padding: 12px;
        background-color: #ffffe0;
    }

    /* NAVIGATION
    ***********************/
    #nav,
    #collect {
        margin: 0 0 0 8px;
        padding: 16px;
    }

    #nav {
        text-align: center;
    }

    #nav a:hover {
        text-decoration: underline;
    }

    #nav a {
        color: #777;
    }

    #collect a {
        color: #CDCDCD;
    }
}
