{% extends 'admin.twig' %}

{% set title %}{{ 'API_ReportingApiReference'|translate }}{% endset %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% include "@CoreHome/_periodSelect.twig" %}
{% endblock %}

{% block content %}

<div class="api-list">
    <div collect-content-block content-title="{{ title }}" rate="true">
        <p>{{ 'API_PluginDescription'|translate }}</p>

        <p>
            {{ 'API_MoreInformation'|translate("<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/docs/analytics-api'>","</a>","<a target='_blank' rel='noreferrer' href='https://developer.matomo.org/api-reference/reporting-api'>","</a>")|raw }}
        </p>
    </div>
    <div collect-content-block content-title="{{ 'API_UserAuthentication'|translate|e('html_attr') }}">
        <p>
            {{ 'API_UsingTokenAuth'|translate('','',"<code>token_auth</code>")|raw }} <a target="_blank" rel="noreferrer noopener" href="https://developer.matomo.org/api-reference/reporting-api#authenticate-to-the-api-via-token_auth-parameter">{{ 'CoreAdminHome_LearnMore'|translate }}</a><br/>
            <br/>
            <a href="{{ linkTo({
                'module': 'UsersManager',
                'action': 'userSecurity',
            }) }}#/#authtokens">You can manage your authentication tokens on your security page.</a>
        </p>
    </div>
    {{ list_api_methods_with_links|raw }}
    <br/>
</div>
{% endblock %}
