.subscriptionOverview {
    .icon-error, .errorMessage {
        color: @color-red-collect;
    }

    .icon-ok {
        color: @color-green-collect;
    }

    .icon-warning {
        color: #fbf7f1;
    }
    .subscriptionName,
    .subscriptionType,
    .subscriptionStatus {
        white-space: nowrap;
    }
}

.marketplace-paid-intro {
    .licenseKeyText {
        min-width: 210px;
        .form-group {
            margin-top: 0;
        }
    }

    .licenseToolbar {
        > a, > div {
            margin-right: 16px;
        }

        > a, > div:not(.licenseKeyText) {
            white-space: nowrap;
        }
    }

}

#installAllPaidPluginsAtOnce {
  ul {
      li {
          list-style-type: disc;
          list-style-position: inside;
          margin-top: 8px;
      }
  }

  a.btn {
      color: #fff;
  }
}

.marketplace {
    .marketplaceActions.row,
    .pluginListContainer.row {
        margin: 0 -0.75rem;
    }

    input.btn[disabled] {
        background-color: @theme-color-brand !important;
    }

    .marketplaceActions {
        margin-bottom: 0;
    }

    .plugin-search {
        position: relative;
        margin-right: 20px;
        .icon-search {
            position: absolute;
            bottom: 32px;
            right: -16px;
            font-size: 16px;
            cursor: pointer;
        }

    }

    .plugin {
        h3 {
            word-wrap: break-word;
        }
        text-align: center;
        .description {
            @line-height: 18px;
            line-height: @line-height;
            height: @line-height * 3; // 3 lines of text
            padding-bottom: 0;
            margin-bottom: 10px;
            .more {
                text-decoration: underline;
                color: @theme-color-text;
            }
        }
        img.preview {
            max-width: 250px;
            width: 100%;
        }
        .footer {
            .download.plugin-details {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .metadata {
            color: @color-silver-l50;
            font-size: 95%;
            margin: 15px 15px 10px;
            list-style: none;
            li {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 18px;
                font-size: 13px;
            }
            .update-available {
                // Code taken from Bootstrap's labels
                font-weight: bold;
                background-color: #f0ad4e;
                display: inline;
                padding: .2em .6em .3em;
                font-size: 76%;
                line-height: 1;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 0.25em;
                text-decoration: none;
            }
        }
        .footer {
            padding: 12px 40px;

            .btn-link.plugin-details {
                padding-left: 0;
                padding-right: 0;
            }

            .purchaseable {
                background-color: #1e93d1;
            }
        }
    }

    .footer-message {
        margin-top:30px;
    }
}


#installPluginByUpload {
    .description {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .startUpload {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}