.manageGdpr {
  td.checkInclude {
    width: 80px;
    .form-group.row {
      margin-top: 0;
    }
  }

  td.site {
    width: 180px;
  }
}

.deleteDataSubjects .btn {
  background-color: @color-red-collect;
}