
{% extends 'admin.twig' %}

{% import '@CorePluginsAdmin/macros.twig' as plugins %}

{% set title %}{{ 'CorePluginsAdmin_PluginsManagement'|translate }}{% endset %}

{% block content %}

    {% include '@Marketplace/uploadPluginDialog.twig' %}

    <div collect-content-intro>
        <h2 collect-enriched-headline>
            {{ title|e('html_attr') }}
        </h2>

        <p>{{ 'CorePluginsAdmin_PluginsExtendCollect'|translate }}
            {{ 'CorePluginsAdmin_OncePluginIsInstalledYouMayActivateHere'|translate }}

            {% if isMarketplaceEnabled or isPluginUploadEnabled %}
                {{ 'CorePluginsAdmin_TeaserExtendCollectByPlugin'|translate(
                    '<a href="' ~ linkTo({'module':'Marketplace', 'action':'overview', 'sort': null, 'activated': null})|e('html_attr') ~ '">',
                    '</a>',
                    '<a href="#" class="uploadPlugin">',
                    '</a>'
                )|raw }}
            {% endif %}

            {% if not isPluginsAdminEnabled %}
                <br/>{{ 'CorePluginsAdmin_DoMoreContactCollectAdmins'|translate }}
            {% endif %}

            {{ 'CorePluginsAdmin_ChangeLookByManageThemes'|translate('<a href="' ~ linkTo({'action': 'themes', 'activated': null})|e('html_attr') ~'">', '</a>')|raw }}
        </p>
    </div>

    {% if pluginsHavingUpdate|length %}
        <div collect-content-block content-title="{{ pluginsHavingUpdate|length }} Update(s) available">

            <p>{{ 'CorePluginsAdmin_InfoPluginUpdateIsRecommended'|translate }}</p>

            {{ plugins.tablePluginUpdates(pluginsHavingUpdate, updateNonce, isMultiServerEnvironment) }}
        </div>
    {% endif %}

    <div collect-content-block content-title="{{ 'CorePluginsAdmin_InstalledPlugins'|translate|e('html_attr') }}"
         class="pluginsManagement"
         collect-plugin-management>

        {{ plugins.pluginsFilter() }}

        {{ plugins.tablePlugins(pluginsInfo, pluginNamesHavingSettings, activateNonce, deactivateNonce, uninstallNonce, false, marketplacePluginNames, isPluginsAdminEnabled) }}

    </div>

{% endblock %}
